header .dropdown .dropdown-open::before{background: url(../../images/ico/dropdown-header-open.png) center no-repeat !important;}
header .dropdown.is-active .dropdown-open::before{background: url(../../images/ico/dropdown-header-close.png) center no-repeat !important;}
.slideshow-side{background: url(../../images/pht/pht-06.png) center no-repeat !important;background-size: cover !important;}
.slideshow-caption{bottom: unset !important;}
.slideshow-caption p{text-align: left !important;}
.planejar-mento{right: 5%;width: 30%;margin-top: 0px;}
.back-image-text {background: url(../../images/pht/planejamento-em-acao.png) center no-repeat !important;background-size: cover !important;height: auto;padding: 50px 0px;}
.back-image-text .vertical-center{top: unset !important;transform: unset !important;}
.text-white{color: #fff;}
/* EMOJIS */
.card-emoji {border: 4px solid #00508e;}
.card-emoji h2 {background: #00508e;color: #fff;padding: 10px 0px;}
.card-emoji .vertical-center {height: 80%;display: flex;flex-direction: column;top: 0px;transform: none !important;}
.card-emoji .card-emoji-img {flex: 1;display: flex;align-items: center;justify-content: center;}
.card.card-emoji .card-open {bottom: 10px !important;}
.card-emoji .card-back {display: flex;align-items: center;justify-content: center;height: 100%;font-weight: bold;padding: 10px}
.card-emoji .card-back .vertical-center{height: auto !important;}
.pushing .dropdown .dropdown-open {position: relative;text-align: center;}
.dropdown-open {cursor: pointer;display: block;}
a{-webkit-tap-highlight-color: transparent;}
.pushing .dropdown .dropdown-open:before {
  background: #3d454e url(../../images/ico/ico-dropdown-open.png) center no-repeat !important;
  border-radius: 7px;
  bottom: -39px;
  content: "";
  height: 29px;
  left: 50%;
  position: absolute;
  width: 29px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pushing .dropdown .dropdown-open:after {
  border: 3px solid #3d454e;
  border-radius: 7px;
  bottom: -37px;
  content: "";
  height: 25px;
  left: calc(50% - 13px);
  position: absolute;
  width: 25px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pushing .dropdown .dropdown-title p {
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-top: 50px;
  text-align: center;
}
.pushing .dropdown .dropdown-open:before {
  background: #3d454e url(../../images/ico/ico-dropdown-open.png) center no-repeat !important;
}

.slideshow-side .slideshow-nav button.slideshow-prev {background: url(../../images/ico/ico-slideshow-three-prev.png) center no-repeat !important;}
.slideshow-side .slideshow-nav button.slideshow-next {background: url(../../images/ico/ico-slideshow-three-next.png) center no-repeat !important;}

.div-pergunta {background: #184666;color: #fff;}
.div-pergunta .pergunta {font-weight: 900;}

button.pergunta-button {
    border: none;
    background: #bfd9ea;
    font-weight: 900;
    font-size: 18px;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 15px;
    margin-right: 10px;
    color: #184666;
    cursor: pointer;
    display: block;
    margin: 20px auto 0px auto;
}

.feedback {
    background: #d4d32e;
    padding: 20px;
    display: none;
    margin-top: 15px;
}

.feedback img {
    display: block;
    margin: 0px auto 10px auto;
}

.feedback p {
    color: #363636;
    margin-bottom: 0px !important;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

/* EMOJIS */
.card.card-planejamento{background: #ffc400;margin-top: 50px;}
.card-planejamento .card-back {background: #043a65;padding: 20px;}
.card.card-planejamento .card-open {bottom: 10px !important;}