.back-image-text {
    background: url(../../images/pht/back-olho-pronto-2.png) center no-repeat;
    background-size: cover;
    height: 310px;
  }
  
  /* RECURSOS DAS PERGUNTAS */
  .box-pergunta{
    background: #fff;
    padding: 15px 20px 20px 20px;
    margin: 50px 0px 10px 0px;
  }
  
  .box-pergunta .pergunta{margin-bottom: 20px;}
  
  .box-pergunta .pergunta .pergunta-radio-buttons{display: flex;align-items: center;}
  
  .box-pergunta .pergunta .pergunta-radio-buttons label{display: flex;align-items: center;margin-right: 20px;cursor: pointer;}
  
  .box-pergunta .pergunta .pergunta-radio-buttons label p{margin-left: 10px;margin-bottom: 0px;}
  
  .box-pergunta .feedback{
    display: none;
    margin-top: 20px;
    padding: 10px 15px;
    background: #035cab;
    color: #fff;
    font-weight: bold;
  }
  
  .box-pergunta button.btn {
    border: 0px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    transition: .2s all;
  }
  
  .box-pergunta button.btn {
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .box-pergunta button.btn.desabled{pointer-events: none;opacity: .5;}
  
  .box-pergunta button.btn.btn-send{color: #fff;background: #035cab;}
  .box-pergunta button.btn.btn-send:hover{background: #164567;}
  
    header .dropdown .dropdown-open::before{background: url(../../images/ico/dropdown-header-open.png) center no-repeat;}
    header .dropdown.is-active .dropdown-open::before{background: url(../../images/ico/dropdown-header-close.png) center no-repeat;}
    .back-image-text {
      background: url(../../images/pht/BACK-MULHER.png) center no-repeat;
      background-size: cover;
      height: 544px;
    }
    .back-image-yellow{padding-bottom: 0px !important;}
    .back-image-yellow::before {
      content: '';
      position: absolute;
      background: url(../../images/pht/linha-amarela.png) center no-repeat;
      background-size: cover;
      height: 287px;
      width: 339px;
      right: 10px;
      top: calc(50% - 350px);
    }
    .back-image-yellow p strong{color: #00508e !important;}
    .line-yellow:before {
      background: #fff614;
    }
    .line:before {
        bottom: 0;
        border-radius: 10px;
        content: '';
        height: 10px;
        position: absolute;
        width: 95px;
    }
    .marcacao {
      width: 100%;
      padding: 100px 0 100px 0;
      background-color: #ccc;
      text-align: center;
      font-size: 2em;
    }
    .back-content {
      background: url(../../images/pht/pht-03.png) bottom center no-repeat;
      background-size: cover;
      height: auto;
      padding: 0px;
      overflow: hidden;
    }
    .header::before {
      position: absolute;
      content: '';
      background: url(../../images/pht/pht-04.png) center no-repeat;
      width: 1280px;
      height: 530px;
      z-index: 1;
      left: calc(50% - 440px);
  }